@import '../../../../../../../shared/utils/style.utils.scss';

:host {
  @include flexible ();

  label {
    height: 100%;
    font-family: $standardFont;
    font-size: 12px;
    line-height: 14px;
    color: $baseColor;
    margin: 0 15px;
  }

  input {
    background: #FFFFFF;
    width: 150px;
    height: 100%;
    padding: 5px 10px;
    font-family: $standardFont;
    color: #000;
  }
}
