@import '../../../../../shared/utils/style.utils.scss';

:host {
  margin-left: 80px;
  @include flexible ();
  justify-content: space-between;

  .user-name {
    min-width: 100px;
    width: 100%;
    font-family: $standardFont;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;
    text-transform: capitalize;
  }

  .logout {
    width: 40px;
    height: 24px;
    background: transparent;
    font-family: $standardFont;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #2F80ED;

    &:hover {
      color: #27AE60;
    }
  }

  .admin {
    width: 80px;
    height: 24px;
    background: $baseColor;
    border-radius: 0px 4px 4px 0px;
    font-family: $standardFont;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    margin: 10px;

    &:hover {
      @include btnHoveredBlue ();
    }
  }

  img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    object-fit: cover;
  }
}
