@import '../../../../../shared/utils/style.utils.scss';

:host {
  margin-left: 80px;
  @include flexible ();

  div {
    min-width: 80px;
    width: 100%;
    font-family: $standardFont;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;

    button {
      width: 40px;
      height: 24px;
      background: transparent;
      font-family: $standardFont;
      font-size: 12px;
      line-height: 14px;
      text-decoration-line: underline;
      color: #2F80ED;

      &:hover {
        color: #27AE60;
      }
    }
  }

  img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    object-fit: cover;
  }
}
