@mixin flexible () {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn () {
  @include flexible ();
  flex-direction: column;
}

@mixin btnHoveredBlue () {
  cursor: pointer;
  filter: drop-shadow(2px 0px 4px #2F80ED);
  background: #5EA2FF;
}

$standardFont: Roboto;

$baseColor: #2F80ED;

$borderBlue: 5px solid #2F80ED;

$borderGreen: 5px solid #27AE60;

$borderRed: 5px solid #EB5757;

$borderYellow: 5px solid #F2C94C;

