@import '../../../app.component.scss';

:host {
  width: 100%;
  @include flexible ();
  height: 24px;
  margin: 10px 20px;

  input {
    width: 400px;
    height: 100%;
    background: #EFEFEF;
    padding: 5px 10px;
    font-family: $standardFont;
    color: #000;
  }

  button {
    width: 80px;
    height: 100%;
    background: $baseColor;
    border-radius: 0px 4px 4px 0px;
    font-family: $standardFont;
    color: #fff;
    font-size: 12px;
    line-height: 14px;

    &:hover {
      @include btnHoveredBlue ();
    }
  }

}

