<header>
  <div class="header__wrapper">
    <div class="header__main">
      <div class="header__search">
        <app-logo></app-logo>
        <app-search-block></app-search-block>
        <button (click)="toggleFilters()" class="header__settings"></button>

        <div class="header__user">
          <app-login-info-block></app-login-info-block>
        </div>
      </div>

      <div  *ngIf="toggle" class="header__filters">
        <app-filters-block></app-filters-block>
      </div>
    </div>
  </div>
</header>
