<form>
  <p> Create new card </p>

  <label for="input__title">Title</label>
  <input
    type="text"
    id="input__title"
    #title
    (input)="titleInput(title.value)"
  >

  <label for="input__desc">Description</label>
  <input
    type="text"
    id="input__desc"
    #desc
    (input)="descInput(desc.value)"
  >

  <label for="input__image">Image</label>
  <input
    type="text"
    id="input__image"
    #image
    (input)="imageInput(image.value)"
  >

  <label for="input__video">Link video</label>
  <input
    type="text"
    id="input__video"
    #video
    (input)="videoInput(video.value)"
  >

  <button
    (click)="create($event)"
    routerLinkActive="active"
  > Create card </button>
</form>
