<div class="info">
  <img class="info__img" src="../../../../assets/viewed.svg" alt="view">
  <div class="info__text">{{ this.card.viewCount | digitConversion }}</div>
</div>

<div class="info">
  <img class="info__img" src="../../../../assets/liked.svg" alt="like">
  <div class="info__text">{{ this.card.likeCount | digitConversion }}</div>
</div>

<div class="info">
  <img class="info__img" src="../../../../assets/disliked.svg" alt="dislike">
  <div class="info__text">{{ this.card.dislikeCount | digitConversion }}</div>
</div>

<div class="info">
  <img class="info__img" src="../../../../assets/commented.svg" alt="comment">
  <div class="info__text">{{ this.card.commentCount | digitConversion }}</div>
</div>
