<div class="card"
  [class.border-blue] = "border === 'border-blue'"
  [class.border-green] = "border === 'border-green'"
  [class.border-red] = "border === 'border-red'"
  [class.border-yellow] = "border === 'border-yellow'"
>
  <img class="card__img" [src]="this.card.imageUrl" [alt]="this.card.title">

  <app-card-info [card]="card"></app-card-info>

  <div class="card__title">{{ this.card.title }}</div>

  <button class="card__btn"
    (click)="open(this.card.id)"
    routerLinkActive="active"
  >more...</button>
</div>
