@import '../../../shared/utils/style.utils.scss';

.card {
  width: 264px;
  height: 327px;
  margin: 20px;
  background: #E5E5E5;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  @include flexColumn ();
  justify-content: space-between;
  padding: 20px 20px 10px;

  .card__img {
    width: 223px;
    height: 123px;
  }

  .card__title {
    width: 100%;
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: flex-end;
    font-family: $standardFont;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #4F4F4F;
  }

  .card__btn {
    width: 120px;
    height: 32px;
    left: 72px;
    background: $baseColor;
    border-radius: 5px;
    @include flexible ();
    font-family: $standardFont;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

    &:hover {
      @include btnHoveredBlue ();
    }
  }
}

.border-blue {
  border-bottom: $borderBlue;
}

.border-green {
  border-bottom: $borderGreen;
}

.border-red {
  border-bottom: $borderRed;
}

.border-yellow {
  border-bottom: $borderYellow;
}
